<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Own Page</title>
</head>
<body>




<center>


    <tr th:each="user : ${user}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.id}"></td>


        <td><a th:href="@{/dataToConsole/{id}(id=${user.id})}">Вывести данные в консоль</a></td>
        <a th:href="@{/admin-page/{id}(id=${user.id})}">Админ страница</a>
    </tr>
</center>

<!--    <div th:switch="${users}">-->


<!--        </div>-->


</body>
</html>